node_modules
core/**/node_modules
commands/**/node_modules
models/**/node_modules
utils/**/node_modules
package-lock.json
core/**/package-lock.json
commands/**/package-lock.json
models/**/package-lock.json
utils/**/package-lock.json

.idea
.vscode

lerna-debug.log
